@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/functions";

.progress {
  &-horizontal {
    width: 100%;
    height: $grid-base;
  }
  &-vertical {
    height: 100%;
    width: $grid-base;
  }
  &-active {
    width: 100%;
    height: 100%;
    @include gradient($primary, gradient-color($primary));
    @include box-shadow(2px, 2px, 8px, -2px, shadow-color($primary));
  }
  border-radius: $border-radius;
  background: lighten($light-font, 10%);
}
